.sidebar {
  width: 250px;
  height: 100%;
  background-color: #1f2730;
  color: #fff;
  position: fixed;
  user-select: none;
}

.sidebar ul {
  list-style-type: none;
  padding: 0;
}

.sidebar ul li {
  position: relative;
  padding: 15px 20px;
  border-radius: 15px;
  left: 10px;
  width: 75%;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.sidebar ul li:hover {
  background-color: #2B547E;
}

.sidebar ul li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.sidebar ul li ion-icon {
  margin-right: 10px;
}

.custom-submenu {
  list-style: none;
  padding: 0;
  margin-top: 10px;
  border-top: 1px solid #fff;
  margin-left: -10px;
}

.custom-submenu li {
  padding: 10px 20px;
}

.custom-submenu li a {
  text-decoration: none;
  display: flex;
  align-items: center;
  transition: background-color 0.3s ease;
}

.custom-submenu li a:hover {
  margin-left: -10px;
  background-color: #3b3b3b;
  border-radius: 20px;
  height: 10px;
  width: 100%;
  padding: 10px;
}

.custom-submenu li ion-icon {
  margin-right: 10px;
}

.Manage {
  font-weight: 600;
}

.time-date {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 250px; /* Match the width of the sidebar */
  padding: 10px 0;
  border-top: 1px solid #fff;
  background-color: rgba(0, 0, 0, 0.3); 
  text-align: center;
}

.time-date p {
  margin: 5px 0;
  color: #fff;
  font-size: 14px;
}

.identity-admin {
  text-align: center;
  border-bottom: 2px solid white;
  font-size: 15px;
}