.Navbar {
  background-color: #1f2730;
  padding: 10px 20px;
  user-select: none;
  filter: drop-shadow(5px 3px 7px black);
}

.nav-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logo img {
  height: 50px; 
}

.logo-text {
  font-size: 2rem;
  margin: 0;
  color: #fff;
}

.nav-links {
  display: flex;
  align-items: center;
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  margin-left: 20px;
}

.link span {
  padding: 0 10px;
  transition: background-color 0.3s, color 0.3s;
}

.link:hover span {
  background-color: rgba(255, 255, 255, 0);
  color: #1b61a8;
  border-bottom: 2px solid#2B547E;
}
