/* POS.css */

.pos-container {
    margin-left: 250px;
    padding: 40px;
    user-select: none;
    background-color: rgba(255, 255, 255, 0.815);
    color: #000000;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
    height: calc(100vh - 40px);
    overflow-y: auto;
  }
  
  .pos-container h1 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .pos-inputs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .pos-inputs input, .pos-inputs button {
    width: 30%;
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  
  .pos-inputs button {
    background: #007bff;
    color: white;
    border: none;
    cursor: pointer;
  }
  
  .pos-inputs button:hover {
    background: #0056b3;
  }
  
  .pos-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .pos-table th, .pos-table td {
    border: 1px solid #131313;
    padding: 10px;
    text-align: center;
  }
  
  .pos-table th {
    background: #007bff;
    color: white;
  }
  
  .pos-total {
    text-align: center;
  }
  
  .pos-total h2 {
    margin-bottom: 20px;
  }
  
  .pos-total button {
    padding: 10px 20px;
    background: #28a745;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .pos-total button:hover {
    background: #218838;
  }

.payment-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

.payment-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 80%;
}

.payment-content h2 {
  margin-top: 0;
}

.payment-content input {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}


.payment-modal-pay {
  padding: 10px 20px;
  background-color: #0059ff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-right: 20px;
}

.payment-modal-pay:hover {
  background-color: #0054b3;
}

.payment-modal-cancel {
  padding: 10px 20px;
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.payment-modal-cancel:hover {
  background-color: #b30000;
}


.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  font-size: 20px;
  color: #aaa;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.POS-message-container {
  position: fixed;
  top: 20px;
  right: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1002;
  background-color: #218838;
}