/* AddProductPanel.css */

.add-product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.add-product-form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.field {
  margin-bottom: 15px;
  width: 100%; /* Set the width of the field to 100% */
  font-weight: 500;
}

.field input,
.field select {
  width: calc(80% - 20px); 
  padding: 5px;
  box-sizing: border-box; 
}

.add-product-form {
  width: 60%;
}

.field {
  margin-bottom: 15px;
}

.field-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.button-success, .button-cancel {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-success {
  background-color: rgb(68, 118, 255);
  color: white;
}

.button-success:hover {
  background-color: rgb(43, 72, 153);
}

.button-cancel {
  background-color: #f44336;
  color: white;
}

.button-cancel:hover {
  background-color: #e57373;
}

.image-preview {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #555555;
}

.image-preview img {
  width: 100%; /* Make the image fill its container */
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
