/* AddProduct.css */

.products-container {
  margin-left: 15%;
}

.products-container h1{
  font-size: 3rem;
}

.add-product-btn {
  background-color: rgb(68, 118, 255);
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin-bottom: 20px;
  cursor: pointer;
  border-radius: 10px;
  margin-left: 85%;
}

.add-product-btn:hover {
  background-color: rgb(43, 72, 153);
}

.products-table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed; /* Ensure consistent column widths */
}

.products-table th,
.products-table td {
  border: 1px solid rgb(141, 141, 141);
  padding: 8px;
  text-align: center;
}

.products-table th {
  background-color: #f2f2f2;
  position: sticky;
  top: 0;
}

.edit-button {
  
  background-color: #4CAF50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.edit-button:hover {
  background-color: #45a049;
}

.delete-button {
  background-color: rgb(252, 63, 63);
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 10px;
}

.delete-button:hover {
  background-color: rgb(165, 41, 41);
}



