/* General container styles */
.categories-container {
  margin-left: 16%;
  background-color: rgba(255, 255, 255, 0.788);
  padding: 20px;
  border-radius: 10px;
  width: 81%;
  height: 100vh;
  margin-top: 10px;
  margin-bottom: 10px;
  position: relative;
  overflow: auto;
}

.table-container {
  margin-top: 20px;
  overflow-x: auto;
}

.categories-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.categories-table th,
.categories-table td {
  padding: 10px;
  border: 1px solid rgb(85, 85, 85);
  text-align: center;
}

.categories-table th {
  background-color: #4bb5f3;
}

.add-category-btn {
  background-color: rgb(68, 118, 255);
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.add-category-btn ion-icon {
  margin-right: 5px;
}

.edit-button,
.delete-button {
  margin-right: 5px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  display: inline-flex;
  align-items: center;
}

.edit-button {
  background-color: #28a745;
  color: white;
}

.delete-button {
  background-color: #dc3545;
  color: white;
}

.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #007bff;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  z-index: 1000; /* Ensure the overlay is above other elements */
}

.small-modal {
  background-color: #fff;
  width: 400px;
  padding: 20px;
  border-radius: 8px;
  margin: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 1001; 
}

.modal-buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.save-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.cancel-button {
  background-color: #dc3545;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
