/* Products.css */

.products-container {
  position: relative;
  left: 1%; 
  width: 80%;
  height: 100%;
  padding: 20px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.863); 
  border-radius: 10px; 
  color: #000000; 
  margin-top: 15px;
  margin-bottom: 15px;
  box-shadow: 10px 7px 20px black;
}

.products-container h1 {
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.search-text {
  width: auto;
  padding: 10px 30px 10px 10px; /* Adjust padding for icon */
  margin-bottom: 20px;
  border: 1px solid #0f0f0f;
  border-radius: 5px;
  font-size: 1rem;
  background: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="%23000" width="24" height="24"><path d="M0 0h24v24H0z" fill="none"/><path d="M15.5 14h-.79l-.28-.27a6.5 6.5 0 0 0 1.48-5.34c-.47-2.78-2.79-5-5.59-5.34a6.505 6.505 0 0 0-7.27 7.27c.34 2.8 2.56 5.12 5.34 5.59a6.5 6.5 0 0 0 5.34-1.48l.27.28v.79l4.25 4.25c.41.41 1.08.41 1.49 0 .41-.41.41-1.08 0-1.49L15.5 14zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"/></svg>') no-repeat;
  background-position: calc(100% - 10px) center; 
  background-size: 20px; 
}


.table-container {
  overflow-x: auto;
}

.products-table {
  width: 100%;
  border-collapse: collapse;
}

.products-table th,
.products-table td {
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #ddd;
  border: 1px solid rgb(179, 177, 177);
}

.products-table th {
  font-weight: bold;
  background-color: rgb(98, 166, 255);
}

.products-table td img {
  max-width: 50px;
  max-height: 50px;
  border-radius: 5px;
}
