.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  height: 100%;
  background-color: #333; /* Same color as the navbar */
  color: #fff;
  z-index: 3;
  padding-top: 60px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

.sidebar li {
  padding: 15px;
  border-bottom: 1px solid #555;
}

.sidebar li a {
  color: #fff;
  text-decoration: none;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.sidebar li a ion-icon {
  margin-right: 10px;
}

.sidebar li:hover {
  background-color: #555555;
}
