.addProductPanel-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.addProductPanel-form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.addProductPanel-field {
  margin-bottom: 15px;
  width: 100%;
  font-weight: 500;
}

.addProductPanel-field input,
.addProductPanel-field select {
  width: calc(80% - 20px);
  padding: 5px;
  box-sizing: border-box;
}

.addProductPanel-form {
  width: 60%;
}

.addProductPanel-field {
  margin-bottom: 15px;
}

.addProductPanel-field-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.addProductPanel-button-success,
.addProductPanel-button-cancel {
  display: flex; /* Enable flexbox */
  align-items: center; /* Center items vertically */
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  color: white;
}

.addProductPanel-button-success ion-icon,
.addProductPanel-button-cancel ion-icon {
  margin-right: 5px; /* Add margin between the icon and the text */
}

.addProductPanel-button-success {
  background-color: rgb(68, 118, 255)
}

.addProductPanel-button-success:hover {
  background-color: rgb(43, 72, 153);
}

.addProductPanel-button-cancel {
  background-color: #ec281a;
  position: absolute;
  right: 10%;
}

.addProductPanel-button-cancel:hover {
  background-color: #ad2117;
}

.addProductPanel-image-preview {
  width: 50%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #555555;
}

.addProductPanel-image-preview img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}
