/* EditProduct.css */

.edit-product-container {
  margin-left: 250px;
  padding: 40px;
  user-select: none;
  background-color: rgba(255, 255, 255, 0.815);
  color: #000000;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  height: auto;
}

.edit-product-form-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.editProductPanel-field {
  margin-bottom: 15px;
  width: 100%;
  font-weight: 500;
}

.editProductPanel-field input,
.editProductPanel-field select {
  width: calc(80% - 20px);
  padding: 5px;
  box-sizing: border-box;
}

.editProductPanel-form {
  width: 60%;
}

.editProductPanel-field {
  margin-bottom: 15px;
}

.editProductPanel-field-button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.editProductPanel-button-success {
  padding: 10px 55px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
}

.editProductPanel-button-success:hover {
  background-color: #45a049;
}

.editProductPanel-button-cancel {
  padding: 10px 55px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: #ec281a;
  color: white;
  position: absolute;
  right: 10%;
}

.editProductPanel-button-cancel:hover {
  background-color: #ad2117;
}

.editProductPanel-image-preview {
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  border: 1px solid #555555;
}

.editProductPanel-image-preview img {
  width: 100%;
  height: auto;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 5px;
}

.edit-success-message {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 10px 20px;
  color: white;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1002;
  background-color: #28a745;
}